// Header

.header {
    margin-top: 20px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #F3F3F3;
    background: #FFF;
    height: 61px;
    margin-top: 12px;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__img {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.3;
    }
}

.hdr__link {
    color: #333;
    font-family: "Futura PT";
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}


.nav__list {
    display: flex;
    gap: 50px;
}

.nav__link {
    color: #333;
    text-align: right;
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}

.hdr__btn {
    border: none;
    background-color: #fff;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}

.hdr__btn--info {
    display: flex;
    gap: 10px;
}

.btn {
    border: none;
    display: none;
    background-color: #fff;
}

.btn__menu {
    display: none;
}

.btn__exit {
    display: none;
}

.nav--item {
    display: none;
}


@media only screen and (max-width: 1088px) {
    .nav__list {
        display: none;
    }

    .btn {
        display: block;
    }

    .btn__menu {
        display: block;
    }

    .menu__exit {
        display: none;
    }

    .exit__menu {
        display: block;
    }

    .nav__blok {
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
        // align-items: center;
        width: 50%;
        height: 100%;
        background-color: var(--sabzi);
        top: 130px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10;

        &>li {
            margin: 20px;
            margin-left: -20px;
        }

        &>.nav__item>.nav__link:hover {
            color: #fff;
            margin-left: -20px;
        }
    }
}


@media only screen and (max-width: 885px) {
    .header__info {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
    }

    .nav__blok {
        top: 210px;
    }
}


@media only screen and (max-width: 510px) {
    .hdr__link {
        font-size: 13px;
    }

    .header__img {
        max-width: 150px;
        width: 100%;
    }

    .hdr__btn {
        font-size: 15px;
    }
}



@media only screen and (max-width: 360px) {
    .hdr__link {
        font-size: 11px;
    }

    .header__img {
        max-width: 100px;
        width: 100%;
    }

    .hdr__btn {
        font-size: 13px;
    }
}


// Hero








// Footer

.footer {
    border: 1px solid #EBEBEB;
    background: #F3F3F3;
    margin-top: 247px;
    padding: 60px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: start;
        justify-content: space-between;
    }
}

a {
    display: block;
}

.ftr__link {
    color: #333;
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}

.footer__info {
    max-width: 125px;
    width: 100%;
}

.footer__list {
    display: flex;
    max-width: 619px;
    width: 100%;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    align-items: start;
    gap: 9px;
}

.ftr__item--link {
    color: #333;
    font-family: "Futura PT";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}

.ftr--link {
    max-width: 157px;
    width: 100%;
    color: #333;
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;

    &:hover {
        color: var(--sabzi);
    }
}

.footer__text {
    position: absolute;
    color: #5C5C5C;
    font-family: "Futura PT";
    font-size: 14px;
    font-weight: 400;
    margin-left: 1095px;
    margin-top: 120px;
}


.footer--info {
    display: flex;
    align-items: start;
    gap: 9px;
}


@media only screen and (max-width: 1341px) {
    .footer__text {
        margin-left: 1000px;
    }
}


@media only screen and (max-width: 1241px) {
    .footer__text {
        margin-left: 900px;
    }
}

@media only screen and (max-width: 1141px) {
    .footer__text {
        margin-left: 800px;
    }
}

@media only screen and (max-width: 1041px) {
    .footer__text {
        margin-left: 700px;
    }
}

@media only screen and (max-width: 941px) {
    .footer__text {
        margin-left: 600px;
    }
}


@media only screen and (max-width: 920px) {
    .footer .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer--info {
        margin-top: 20px;
    }

    .footer__text {
        margin-top: 195px;
        margin-left: 500px;
    }
}


@media only screen and (max-width: 750px) {
    .footer__text {
        margin-left: 400px;
    }
}


@media only screen and (max-width: 650px) {
    .footer__text {
        margin-left: 250px;
    }
}


@media only screen and (max-width: 500px) {
    .footer .container {
        grid-template-columns: repeat(1, 1fr);
        // text-align: center;
        // align-items: center;
    }

    .footer__info {
        text-align: center;
        margin: 20px;
    }

    .footer--info {
        margin: 20px;
    }

    .footer__text {
        margin-top: 600px;
        margin-left: 200px;
    }
}


@media only screen and (max-width: 400px) {
    .footer__text {
        margin-left: 100px;
    }
}